<!DOCTYPE html>

<html lang="en-US">


<head>
    <meta charset="UTF-8">
    <meta name="Programmer" content="John Villalvazo">
    <meta name="Email" content="jvillalvazo2@ucmerced.edu">
    <meta name="github" content="https://github.com/jpvp13">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> Flex Time Log</title>
    <link rel = "stylesheet" href = "landingScreen.css">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
</head>

<body>
    
    <h1 id="Header_Image">
        <img  title = "School Logo" src = "/images/Mark_Twain_Panthers_Horizontal.png" width = "500" alt="Mark Twain Panther Logo">
    </h1>

    
    <h1 style="font-size: 60px; text-align:center">
        Flex Time Tracking Site
    </h1>

    <!-- <h2>
        Mark Twain Junior High
    </h2> -->

    <!-- Login area, sending info to login backend route -->
    <form class="loginArea" method="POST">
        <fieldset>
            <legend>Login Credentials</legend>
            <label for ="username"> Username:</label>
            <input id="username" type="text" required><br><br>
            <label for ="Password"> Password:</label>
            <input  id="password" type="password" name = "password" required ><br><br>
            <input id="submitButton" type="submit" value="Submit">
            <input type="reset" value="Clear">
        </fieldset>
    </form>



</body>








</html>